//- "dev": "concurrently \"pnpm run watch\"  \"live-server --open=./src/index.html\""
doctype html
html(lang='en')
 head
  link(rel="stylesheet", href="./css/styles.css")
  title Pug & Tailwind
 body
  main.bg-indigo-200.h-screen.flex.items-center.justify-center
    h1 test!!!
